
/* NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between; /* logo left, links right */
  align-items: center;
  padding: 15px 30px;
  background-color: #222; /* dark background */
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 0px 0px 25px 25px; /* rounded corners */
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Links container */
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #adb0a7; /* orange on hover */
}
